#root {
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
}

#rechartsXFillColor,
#rechartsYFillColor {
    fill: rgb(17, 24, 28);
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    font-weight: 500;
}

.dark #rechartsXFillColor,
.dark #rechartsYFillColor {
    fill: rgb(236, 237, 238);
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    font-weight: 500;
}

ul::-webkit-scrollbar {
    display: none;
}
